[data-ndl-box] {
  color: #fff;

  &[data-box-layer='root'] {
    background-color: var(--ndl-black-9);
  }
  &[data-box-layer='default'] {
    background-color: transparent;
  }
  &[data-box-layer='base'] {
    background-color: var(--ndl-black-8);
  }
  &[data-box-layer='raised'] {
    /* TODO */
    background-color: rgba(26, 26, 26, 0.9);
  }
}
