.ndl-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-size: 1rem;
  color: var(--ndl-white);
  border-radius: 1px;

  &.mode-button {
    padding: 0.5rem 1rem;
    background-color: var(--ndl-black-7);

    &:hover {
      background-color: var(--ndl-black-5);
    }

    &:active {
      background-color: var(--ndl-black-6);
    }

    &.accented {
      background-color: var(--ndl-accent-8);

      &:hover {
        background-color: var(--ndl-accent-5);
      }

      &:active {
        background-color: var(--ndl-accent-6);
      }
    }
  }

  &.mode-text {
    &.accented {
      color: var(--ndl-accent-4);
    }
  }

  &:focus-visible {
    outline: var(--ndl-outline);
  }

  &:disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}
