[data-ndl-button] {
  background-color: var(--ndl-black-7);
  color: var(--ndl-white);

  border: 1px solid var(--ndl-black-6);
  border-radius: 2px;

  padding: 0.5rem 1rem;
  font-size: 1rem;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--ndl-black-5);
  }

  &:active {
    background-color: var(--ndl-black-6);
  }

  &:focus-visible {
    outline: var(--ndl-outline);
  }

  &[data-accented] {
    background-color: var(--ndl-accent-8);

    &:hover {
      background-color: var(--ndl-accent-5);
    }

    &:active {
      background-color: var(--ndl-accent-6);
    }
  }

  &:disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}
