:root {
  font-size: 14px;

  /* --ndl-black-1: #494949;
  --ndl-black-2: #e0e0e0;
  --ndl-black-3: #c2c2c2;
  --ndl-black-4: #a4a4a4; */
  --ndl-black-5: #393939;
  --ndl-black-6: #313131;
  --ndl-black-7: #292929;
  --ndl-black-8: #212121;
  --ndl-black-9: #181818;

  --ndl-accent-1: #6faefd;
  --ndl-accent-2: #539efd;
  --ndl-accent-3: #388efc;
  --ndl-accent-4: #1c7ffc;
  --ndl-accent-5: #0470f8;
  --ndl-accent-6: #0363dd;
  --ndl-accent-7: #0357c1;
  --ndl-accent-8: #034eae;
  --ndl-accent-9: #02479f;

  --ndl-outline: 1px solid #fff;
}
